<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    </configSections>

    <configBuilders>
        <builders>
            <add name="DiagnosticListenerPathWithMachineNameConfigBuilder" type="gfoidl.ConfigBuilders.DiagnosticListenerPathWithMachineNameConfigBuilder, gfoidl.ConfigBuilders" />
        </builders>
    </configBuilders>

    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.7.1" />
        <httpRuntime targetFramework="4.7.1"/>
    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        <directoryBrowse enabled="true"/>
    </system.webServer>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <protocolMapping>
            <add binding="basicHttpsBinding" scheme="https" />
        </protocolMapping>

        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>

    <system.diagnostics configBuilders="DiagnosticListenerPathWithMachineNameConfigBuilder">
        <sources>
            <source name="System.ServiceModel" propagateActivity="true" switchName="globalSwitch">
                <listeners>
                    <clear />
                    <add name              ="serviceModelTraceListener"
                         type              ="System.Diagnostics.XmlWriterTraceListener"
                         initializeData    ="mylog.svclog"
                         traceOutputOptions="LogicalOperationStack" />
                </listeners>
            </source>
        </sources>

        <switches>
            <clear />
            <add name="globalSwitch" value="All" />
        </switches>
    </system.diagnostics>

</configuration>
